
/*!
 * Moca v1.0.0 (moca)
 * Copyright 2011-2018 The moca Authors
 */ 

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap'); :root {
    --inv-bg: #ffffff;
    --inv-base: #000000;
    --inv-accent: #515F6B;
    --inv-border: #515F6B;
    --font-base: "Source Code Pro", monospace;
    --font-accent: "Bebas Neue", cursive;
    --font-latin: "Yesteryear", serif;
    --menu-bg: #20262c;
    --menu-inactive: #ffffff;
    --menu-active: #515F6B;
    --btn-color: #ffffff;
}

.satumomen_slide .container-mobile {
    position: relative
}

.floating-action {
    z-index: 1
}

#opening .container-mobile{
    background-image: url('../img/img-bg/bg-simple.webp'); /* Relative terhadap lokasi file CSS */
}


/* Groom & Bride */
#event .container-mobile,
#gallery .container-mobile,
#bride .container-mobile,
#groom .container-mobile{
    background-image: url('../img/img-bg/bg-primary.webp'); /* Relative terhadap lokasi file CSS */
}
.img-bride-groom {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bx{
    font-size: 25px;
}

