        <!-- start script -->
        {% for pathjs in js_path %}
        <script src="{{pathjs.js}}"></script>
        {% endfor %}


 <!-- not support modal -->

        <script type="0ec6dc73e469a5f35dc42581-text/javascript">
            
        var notSupport = document.getElementById('notSupport');
        function checkBrowser() { 
            if(navigator.userAgent.indexOf("UCBrowser") != -1 || navigator.userAgent.indexOf("MiuiBrowser") != -1 || navigator.userAgent.indexOf("OppoBrowser") != -1) {
                showModal(notSupport);
                if (loader) {
                    loader.style.display = "none";
                }
            }
        }
        checkBrowser()
    
        </script>
        <script src="assets/js/rocket-loader.min.js"  data-cf-settings="0ec6dc73e469a5f35dc42581-|49" defer></script>
        <!-- end script -->
    </body>
</html>