    <!-- menuu -->
    <div id="smMenu" class="satumomen_menu">
        <ul class="satumomen_menu_list">
            
             <li class="satumomen_menu_item">
              <i class='bx bx-home-heart'></i>
              <span>Cover</span>
             </li>
            
             <li class="satumomen_menu_item">
              <i class='bx bx-home-heart'></i>
              <span>Opening</span>
             </li>
            
             <li class="satumomen_menu_item">
              <i class='bx bx-heart-circle'></i>
              <span>Bride</span>
             </li>
            
             <li class="satumomen_menu_item">
              <i class='bx bx-heart-square'></i>
              <span>Groom</span>
             </li>
            
             <li class="satumomen_menu_item">
              <i class='bx bx-photo-album'></i>
              <span>Gallery</span>
             </li>
            
             <li class="satumomen_menu_item">
              <i class='bx bx-calendar-heart'></i>
              <span>Event</span>
             </li>
            
             <li class="satumomen_menu_item">
              <i class='bx bx-time'></i>
              <span>Story</span>
             </li>
            
             <li class="satumomen_menu_item">
              <i class='bx bx-palette'></i>
              <span>Drescode</span>
             </li>
            
             <li class="satumomen_menu_item">
              <i class='bx bx-map'></i>
              <span>Location</span>
             </li>
            
             <li class="satumomen_menu_item">
              <i class='bx bx-gift'></i>
              <span>Gift</span>
             </li>
            
             <li class="satumomen_menu_item">
              <i class='bx bx-copy-alt'></i>
              <span>RSVP</span>
             </li>
            
             <li class="satumomen_menu_item">
              <i class='bx bxs-hand'></i>
              <span>Thanks</span>
             </li>
            
        </ul>
    </div>


