<!DOCTYPE html>
<html lang="id" class="notranslate" translate="no">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="color-scheme" content="light only">
        <meta name="format-detection" content="telephone=no">
        <meta name="google" content="notranslate"/>
        <title>{{ page_title }}</title>
        <meta name="title" content="{{ page_title }}">
        <meta name="description" content="{{ page_title }}">
        <!-- <meta itemprop="image" content="/"> -->
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://i.ibb.co.com/12H7yzq/seny-ricky-Image-V1-1.jpg">
        <meta property="og:title" content="Undangan Pernikahan Seny Indriani &amp; Mohamad Ricky yang akan dilaksanakan pada Minggu, 02 Februari 2025 di Villa Vita.">
        <meta property="og:description" content="{{ page_title }}">
        <meta property="og:image" content="https://i.ibb.co.com/12H7yzq/seny-ricky-Image-V1-1.jpg">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="icon" href="/favicon.ico">
        <!-- css -->
        {% for css in css_path %}
        <link rel="stylesheet" href="{{css}}">
        {% endfor %}
    </head>